.c-0, .c-0 + span {
	color: #00a1ff !important;
}

.c-1, .c-1 + span {
	color: #138b38 !important;
}

.c-2, .c-2 + span {
	color: #7a00ff !important;
}

.c-3, .c-3 + span {
	color: #8b1313 !important;
}

.ic-1 {
	color: #484803 !important;
}

.ic-2 {
	color: #31a931 !important;
}

.ic-3 {
	color: #0e9595 !important;
}

.ic-4 {
	color: #8282FF !important;
}

.ic-5 {
	color: #B446FA !important;
}

.ic-6 {
	color: #d51818 !important;
}

.ic-8 {
	color: #FF0000 !important;
}

.marked {
	font-weight: bold;
}

.cb {
	font-weight: bold;
	text-align: center;
}