body, html, td, th {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

img {
	border:0;
}

tfoot {
    display: table-header-group;
}

tfoot td {
	padding:0 !important;
	z-index: 0 !important;
}

tfoot input {
	width:100%;
}

td {
	padding: 2px 5px !important;
}

td.limit div {
	max-width: 100%;
	max-height: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

img.small {
	height:21px;
}

img.middle {
	height:80px;
}

.w10 { width: 10px !important}
.w20 { width: 20px !important}
.w30 { width: 30px !important}
.w40 { width: 40px !important}
.w50 { width: 50px !important}
.w60 { width: 60px !important}
.w70 { width: 70px !important}
.w80 { width: 80px !important}
.w90 { width: 90px !important}
.w100 { width: 100px !important}
.w150 { width: 150px !important}
.w200 { width: 200px !important}
.w300 { width: 300px !important}
.w400 { width: 400px !important}
.w500 { width: 500px !important}
.w600 { width: 600px !important}
.w700 { width: 700px !important}
.w800 { width: 800px !important}

/* buildings */
.bbl1 {
	color:#d42127;
}

.bbl2 {
	color:#d87808;
}

.bbl3 {
	color:#046bb6;
}

.bbl4 {
	color:#a3655a;
}

.bbl5 {
	color:#99799e;
}

.bbl6 {
	color:#6391a8;
}

.bbl7 {
	color:#16a8d9;
}

.bbl8 {
	color:#047a3e;
}

.bbl9 {
	color:#71be4a;
}

/* head */
.head {
	height:40px;
}

.head .left{
	width:40%;
	float:left;
}

.head h1 {
	margin:0;
	font-size:16px;
}

.head .center{
	width:20%;
	float:left;
}

.head .right{
	width:40%;
	float:right;
}

.head .right button{
	float:right;
}

/* menu */
.menu {
	width:500px;
	margin:0 auto;
	text-align:center;
}