A:link{color:#0000aa;text-decoration:none}
A:active{color:#8000FF;text-decoration:underline}
A:visited{color:#0000aa;text-decoration:none}
A:hover{color:#8000FF;text-decoration:underline}

.sh {
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
position: relative;
color: #000000;
}
.sh span {
position: absolute;
top: -1px;
left: -2px;
padding-right: 2px;
}



