body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background-color: #f1d994;
}

select, button {
	height: 26px;
	margin-right: 10px;
}

.hidden {
	display: none !important;
}

#top, #top span {
	height: 26px;
	display: flex;
	align-items: center;
}

#top img {
	padding: 0 3px 1px;
}

#cy {
  height: calc(100% - 30px);
  width: 100%;
  position: absolute;
  left: 0;
  top: 30px;
}

#gold {
	padding-left: 50px;
}

#help {
	cursor: pointer;
	font-size: 26px;
	line-height: 26px;
	margin-right: 10px;
	content: "\2139";
}

.tippy-tooltip.left-align-theme {
	text-align: left;
}