.imptrue {
	font-weight:bold;
}

.clear {
	clear:both;
}

.ptb5 {
	margin-top:5px;
	margin-bottom:5px;
}

img {
	border:0;
}

pre {
	margin: 0;
}

table.center_text td, table.center_text th{
	text-align:center;
}

.dlg {
	width:500px;
	height:300px;
	margin:5px 0 15px;
	background:url(../images/bg.gif) no-repeat center center;
}

.dlg .img {
	float:left;
	margin:20px 0 0 14px;
}

.dlg .txt {
	float:right;
	width:290px;
	margin:22px 20px 0 0;
	color:#fff;
	text-align: justify;
}

p.sh a {
	color:#333;
}

p.sh .shad a {
	color:#fff;
}

.tc_buttons {
	float:left;
	padding:10px 0;
}

.tc_buttons a {
	display:block;
	float:left;
	width:239px;
	height:27px;
	background:url(../images/button.jpg);
	color:#ddd;
	margin:0 15px;
}

.niceheader {
	float:left;
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/Title.gif) no-repeat center center;
}

.niceheader a{
	color: #000;
}

.separator {
	width:540px;
	height:12px;
	background:url(../images/separator.jpg) no-repeat center center;
}

.unit_prm {
	color:#fff;
}

.unit_prm th {
	color:#000;
	text-align:center;
}

.unit_aprm, .unit_upg {
	width:500px;
	border:1px solid #003300;
	border-collapse: collapse;
	text-align:center;
	margin-top:20px;
}

.unit_aprm th, .unit_upg th {
	font-weight:bold;
}

.unit_aprm td, .unit_upg td, .unit_aprm th, .unit_upg th {
	border:1px solid #003300;
}

.un_a {
	width:450px;
	height:513px;
	clear: both;
	background:url(../images/bg_unit_attr.jpg);
	font-family:Arial, Helvetica, sans-serif;
}

.un_a div {
	display: block;
    float: left;
	color: #fff;
}

.un_a .hdr {
	width:100%;
	height:44px;
	line-height:44px;
	font-size: 18px;
	color:#000;
}

.un_a .img {
	float:right;
	width:175px;
	height:191px;
	background-position:center center;
	background-repeat:no-repeat;
}

.un_a .at {
	width:272px;
	height:191px;
}

.un_a .at div {
    width: 30px;
	height: 29px;
	line-height: 29px;
    margin: 12px 0 4px 58px;
    font-size: 22px;
}

.un_a .am {
	height:100px;
	width:450px;
}

.un_a .am div {
	height: 29px;
	line-height: 29px;
	margin-top:7px;
	margin-bottom:10px;
    font-size: 22px;
}

.un_a .am1 {
	width: 80px;
	margin-left:50px;
}

.un_a .am2 {
	width: 80px;
	margin-left:40px;
}

.un_a .am3 {
	width: 150px;
	margin-left:30px;
	color:#000;
}

.un_a .am4 {
	width: 80px;
	margin-left:80px;
}

.un_a .am5 {
	width: 80px;
	margin-left:60px;
}

.un_a .amr {
	margin-left:2px;
	width: 116px;
	height:34px;
	margin-top:3px;
}

.un_a .amr img {
	float:left;
	margin:3px 0 0 16px;
}

.ab {
	width:450px;
	height:178px;
}

.ab a {
	display:block;
	float:left;
	width:52px;
	height:52px;
	padding:25px 12px 5px 23px;
}

.it {
	width:421px;
	height:227px;
	clear: both;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.it div {
	display: block;
    float: left;
	color: #fff;
}

.it .img {
	margin:35px 0 0 25px;
}

.it .right {
	width:300px;
	margin:12px 0 0 20px;
}

.it .right div{
	width:100%;
	height:25px;
}

.it .right div.name{
	margin-bottom:5px;
	color:#DCDC32;
}

.it .right div.name a{
	color:#DCDC32;
}

.it .top {
	width:100%;
	height:125px;
	background:url(../images/bg_item_top.gif);
}

.it .mid {
	width:100%;
	background:url(../images/bg_item_mid.gif);
	color:#33CC33;
}

.it .bot {
	width:100%;
	height:80px;
	padding-top:23px;
	background:url(../images/bg_item_bot.gif) no-repeat;
}

.it .bot div{
	color:#80FFFF;
}

.it .bot .s {
	width:205px;
}
.it .bot .l {
	width:410px;
	height:40px;
	line-height:40px;
}

.bbl1 {
	color:#d42127;
}

.bbl2 {
	color:#d87808;
}

.bbl3 {
	color:#046bb6;
}

.bbl4 {
	color:#a3655a;
}

.bbl5 {
	color:#99799e;
}

.bbl6 {
	color:#6391a8;
}

.bbl7 {
	color:#16a8d9;
}

.bbl8 {
	color:#047a3e;
}

.bbl9 {
	color:#71be4a;
}

.w100 {
	width:100px;
}