.c-0, .c-0 + span {
	color: #00a1ff !important;
}

.c-1, .c-1 + span {
	color: #138b38 !important;
}

.c-2, .c-2 + span {
	color: #7a00ff !important;
}

.c-3, .c-3 + span {
	color: #8b1313 !important;
}

.ic-1 {
	color: #484803 !important;
}

.ic-2 {
	color: #31a931 !important;
}

.ic-3 {
	color: #0e9595 !important;
}

.ic-4 {
	color: #8282FF !important;
}

.ic-5 {
	color: #B446FA !important;
}

.ic-6 {
	color: #d51818 !important;
}

.ic-8 {
	color: #FF0000 !important;
}

.marked {
	font-weight: bold;
}

.cb {
	font-weight: bold;
	text-align: center;
}

.noncastle-spell {
	border: 2px solid #e8d086;
}

.castle-spell {
	border: 2px solid #ff5200;
}

.noncastle-spell, .castle-spell {
  position: relative;
  display: inline-block;
}

/* Tooltip */

.jBox-TooltipGray .jBox-container {
  border-radius: 4px;
  background: #555;
  color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.jBox-TooltipGray .jBox-pointer:after {
  background: #555;
}

.jBox-TooltipGray .jBox-closeButton {
  background: #555;
}

.jBox-TooltipGray.jBox-closeButton-box:before {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.jBox-TooltipGray.jBox-closeButton-box .jBox-closeButton path {
  fill: #ddd;
}

.jBox-TooltipGray.jBox-closeButton-box .jBox-closeButton:hover path {
  fill: #fff;
}

.jBox-TooltipGray.jBox-closeButton-box .jBox-closeButton:active path {
  fill: #bbb;
}
